/* ==================== FOOTER ==================== */
footer {
	background-color: var(--header-color);
}

.footer {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.footer_title h3 {
	padding: 10px 0 30px;
}

.footer_title h4 {
	padding-top: 70px;
}

.footer_title h3,
.footer_title h4 {
	color: var(--white-color);
}

.footer .download_block {
	width: 600px;
	height: 200px;
	margin: 0 auto;
	padding: 60px 0;
}

.footer_menu,
.footer_menu a {
	color: var(--white-color);
}

.footer_menu {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
	vertical-align: middle;
}

@media screen and (max-width: 1024px) {
	.footer {
		width: 720px;
		height: 460px;
		margin: 0 auto;
	}

	.footer_title h3 {
		padding-top: 10px 0 30px;
	}

	.footer_title h4 {
		padding-top: 40px;
	}

	.footer .download_block {
		padding: 0;
		width: 500px;
	}

	.footer .blocks {
		vertical-align: middle;
		padding-top: 10px;
	}
}

@media screen and (max-width: 500px) {
	.footer {
		width: 294px;
		height: 220px;
	}

	.footer_title h3 {
		padding: 10px 0 0;
	}

	.footer_title h4 {
		padding-top: 20px;
	}

	.footer .download_block {
		margin-top: 20px;
		width: calc(574px * 500 / 880 * .9);
		height: calc(280px * 500 / 880 * .5);
		border-radius: 30px;
		text-align: center;
	}

	.block {
		margin: 10px auto;
	}

	.footer .qr {
		display: none;
	}

	.footer_menu {
		margin: 10px;
	}

	.footer_menu,
	.footer_menu p {
		font-size: 10px;
	}
}

