/* ========== DESCRPTION ========== */
.desciption {
	width: 880px;
	margin: 120px auto 0;
}

.desciption p {
	font-size: var(--discription-font-size);
	text-align: justify;
}

@media screen and (max-width: 1024px) {
	.desciption {
		width: 720px;
		margin: 80px auto 0;
	}

	.desciption p {
		font-size: calc(var(--discription-font-size) * 760 / 880);
		text-align: justify;
	}
}

@media screen and (max-width: 500px) {
	.desciption {
		width: 280px;
		margin: 60px auto 0;
	}

	.desciption p {
		font-size: calc(var(--discription-font-size) * 500 / 880 * .8);
		text-align: justify;
	}
}
